@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,700;1,500&display=swap');


:root{
    --main-color:#1F4590 ;
    --second-color:#FFA451 ;
    --body-color:#D0FCFF ;

    --main-font:'Open Sans', sans-serif;
    --heading-font:'Raleway', sans-serif;


}

body{
    background-color: var(--body-color);
    font-family: var(--main-font);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
section{
    margin-top: 200px;
}
.container{
    max-width: 1500px;
}
.navbar{
    background-color:var(--body-color);
}
.navbar .nav-wrapper{
    position: relative;
    width: 850px;
    background-color: var(--body-color);
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 85px;
}
.nav-wrapper .menu-toggle{
    display: none;
}
.nav-wrapper .logo{
    font-size: 45px;
    font-family: var(--heading-font);
    font-weight: 600;
    color: var(--main-color);
}
.nav-wrapper .logo span{
    font-size: 28px;
    color: var(--second-color);
}
.nav-wrapper .menu-wrapper{
    display: flex;
    gap: 50px;
   
}
.nav-wrapper .menu-wrapper .menu{
    display: flex ;
    align-items: center;
    gap: 10px;
   
}
.menu-wrapper .menu .menu-link{
    font-size: 15px;
    color: var(--second-color);
    font-family: var(--heading-font);
    font-weight: 500;
}
.menu-wrapper .menu .menu-link.active{
    font-weight: 700;
    color: var(--main-color);
}
.menu-wrapper .btn-member{
    font-family: var(--heading-font);
    color: white;
    font-weight: 600;
    background-color:var(--second-color);
    padding: 15px 20px;
    border-radius: 35px;
}
/* home start */
.home{
    margin-top: 50px;
}
.home .home-wrapper{
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home-wrapper .heading{
    font-size: 30px;
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--main-color);
}
.home-wrapper .heading span{
    font-size: 25px;
    color: var(--second-color);

}
.home-wrapper .subheading{
    font-size: 20px;
    color: black;
    max-width: 700px;
    margin: 20px 0;
}
.home-wrapper .box-wrapper{
    display: flex;
    gap: 70px;
}
.home-wrapper .box-wrapper .box{
    display: flex;
    align-items: center;
    gap: 15px;
}
.box-wrapper .box i{
    font-size: 20px;
    color: var(--main-color);
}
.box-wrapper .box p{
    font-size: 15px;
    font-family: var(--heading-font);
    font-weight: 700px;
    color: var(--main-color);
    text-align: center;
    width: 100px;
}
.content-left .from-panel{
    position: relative;
    width: 640px;
    height: 110px;
   
    border-radius: 70px;
   
   
}
.from-panel .title-from{
    position: absolute;
    top: 40px;
    left: -180px;
    margin-top: 90px;
    transform: translateX(-50%);
    background-color: var(--main-color);
    color: white;
    width: 200px;
    text-align: center;
    border-radius: 20 px;
    padding: 10px 0px;
}
.from-location{
    position: relative;
    margin-top: 180px;
    margin-left: -360px;
    display: flex;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 300;
}
.from-date{
    position: relative;
    margin-top: -55px;
    margin-left: -150px;
    display: flex;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 300;
}

.from-location select{
    border: none;
    appearance: none;
    padding: 4px 8px;
}
.from-date input{
    border: none;
    padding: 4px 8px;
}
.from-panel .btn-search{
    position: relative;
    background-color: var(--second-color);
   width: 30px;
   margin-top: -45px;
   text-align: center;
   padding: 15px 25px;
   border-radius: 35px;
   
   display: flex;
   justify-content: center;
   color: white;
   margin-left:15px ;

}
.from-panel .btn-search i{
    font-size: 30px;
}
.popular{
margin-top: 160px;
font-size: 15px;
text-align: left;
color: rgb(75, 72, 72);
}

    



.from-panel img{
  
    position: absolute;
    width: 80%;
    height: 130%;
    margin-top: 150px;
    margin-left: -420px;
   
    
}
 .sugestion{
    margin-top: 300px;
    margin-left: -1000px;
}
.home-wrapper .content-left{
    flex: 0 0 40%;
}
.home-wrapper .content-right{
 flex: 0 0 500%;
}
  .content-right .img-wrapper {
  max-width: 800px;

  }
  .content-right .img-wrapper img{
    width: 400px;
   margin-left: 800px;
   margin-top: -600px;
  }
/* home end */
/* service start */
   .service .service-wrapper{
    margin: auto;
   }
   .service-wrapper .row1{
    text-align: center;
   }
   .service-wrapper .label-service{
    font-size: 20px;
    font-family: var(--heading-font);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--second-color);
   }
   .service-wrapper .heading-service{
    font-size: 40px;
    font-family: var(--heading-font);
    font-weight: 700;
    color: rgb(61, 57, 57);
    margin: 10px 0px;
   }
   .service-wrapper .subheading-service{
    font-size: 20px;
    
   }
   .service-wrapper .row2{
    background-color: var(--main-color);
    color: white;
    display: flex;
    gap: 30px;
   text-align: center;
    justify-content: center;
    margin-left: 60px;
    box-sizing: border-box;
   flex-wrap: wrap;
   margin-top: 70px;
  
   border-radius: 40px 40px 0 0;
   }
   .row2 .box-service{
    position: relative;
    width: 200px;
    padding: 30px;
   }
   .box-service i{
    font-size: 35px;
   }
   .box-service h3{
    font-size: 20px;
    margin-top: 10px;
   }
   .box-service .btn-learn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:120%;
    background-color: rgb(255, 166, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0 0;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    transition: 1s ease-in-out;
   }
   .box-service:hover .btn-learn{
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    transition: 1s ease-in-out;
   }
   .btn-learn a{
    color: white;
   }
/* service end */
@media screen and (max-width:991px) {
    .nav-wrapper .menu-wrapper{
        width: 700px;
        gap: 20px;
        display: flex;
        justify-content: right (20);
        font-size: 10px;
    }
   
    .nav-wrapper .menu-wrapper .menu{
       gap: 35px;
       
    }
    .menu-wrapper .btn-member{
        padding: 10px 5px;
    }
    .nav-wrapper .logo{
        font-size: 25px;
        display: flex;
        margin-left: -25px;
    }
    .navbar .nav-wrapper{
        padding: 12px 45px;
    }
    
}
@media screen and (max-width:768px) {
    .nav-wrapper .menu-wrapper{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
       display: block;
       text-align: center;
       padding-bottom: 3rem;
       border-radius: 10px;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .nav-wrapper .menu-wrapper.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .menu-toggle.bx-x{
        transform: rotate(360deg);
        transition: .5s;
    }
  
    .nav-wrapper .menu-wrapper .menu{
        display: block;
    }
   .menu-wrapper .menu .menu-item{
    margin: 25px;
   }
   .menu-wrapper .menu .menu-link{
    color: white;
   }
   .menu-wrapper .menu .menu-link.active{
    color: var(--second-color);
   }
   .nav-wrapper .menu-toggle{
    display: initial;
    font-size: 3rem;
    color: var(--main-color);
   }
   
   
}